target/classes/objectstore.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ac1dac23-af24-4d80-84ce-ba1b3db30df1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:object-store name="store" doc:name="Object store" doc:id="1e7572bf-4c10-4d91-913e-0b129f561831" />
	<os:object-store name="pranav" doc:name="Object store" doc:id="fc94bac1-c647-4103-b6d0-fbc63288fc19" />
	<flow name="static" doc:id="8f65d818-6a7e-4440-9b14-37b34c99ecf3" >
		<http:listener doc:name="Listener" doc:id="165440d0-e69d-4fe2-a9c1-d0f5371fb6db" config-ref="HTTP_Listener_config" path="/oss"/>
		<foreach doc:name="For Each" doc:id="d9d05ad2-83e0-4b5a-9fd3-5ab02d061a3a" >
			<os:store doc:name="Store" doc:id="211fb97a-955d-4b19-8caa-c30cd28010d1" key="#[payload.id]" objectStore="pranav">
			<os:value><![CDATA[#[payload.name]]]></os:value>
		</os:store>
		</foreach>
	</flow>
	<flow name="objectstoreFlow" doc:id="ccad3a1f-2269-4978-9118-058ada1925db" >
		<http:listener doc:name="Listener" doc:id="f69851f1-0001-4515-acef-b6e4a43ab1e0" config-ref="HTTP_Listener_config" path="/retrieve"/>
		<os:retrieve doc:name="Retrieve" doc:id="d24c6055-ed9e-43c5-bf1a-a57fc97c5bf0" key="#[attributes.queryParams.id]" objectStore="pranav">
			<os:default-value ><![CDATA[no value]]></os:default-value>
		</os:retrieve>
	</flow>
	<flow name="objectstoreFlow1" doc:id="1ee9f2ca-8db9-40e9-88ee-9094c4f21ea6" >
		<http:listener doc:name="Listener" doc:id="c7f5f70a-e538-45d2-9cc0-d2feac2cc823" config-ref="HTTP_Listener_config" path="/clear"/>
		<os:clear doc:name="Clear" doc:id="fe10ccb0-0654-48b3-bc50-0d5b956733df" objectStore="pranav"/>
		<ee:transform doc:name="Transform Message" doc:id="eca6306e-0373-43e0-a9d1-b692be472aaa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="objectstoreFlow6" doc:id="87b7a33e-cd8e-4118-81bf-de4d5277c2dd" >
		<http:listener doc:name="Listener" doc:id="a54f8ece-7190-40cf-9828-97d6a5f368b1" config-ref="HTTP_Listener_config" path="/contains"/>
		<os:contains doc:name="Contains" doc:id="22b47d69-2791-4fcd-9f34-9f54791896da" key="#[attributes.queryParams.id]" objectStore="pranav"/>
		<ee:transform doc:name="Transform Message" doc:id="e5a1dd13-e6ae-462e-a285-07bf8ae2b4cb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="objectstoreFlow2" doc:id="df6b2729-4420-40df-acbf-ac5b135a8f91" >
		<http:listener doc:name="Listener" doc:id="a9e71af4-08d4-48ed-bf2c-7d1784cf17f6" config-ref="HTTP_Listener_config" path="/all"/>
		<os:retrieve-all doc:name="Retrieve all" doc:id="52c69fdd-47fc-4703-8d60-bedc0afc77ff" objectStore="pranav"/>
		<ee:transform doc:name="Transform Message" doc:id="5835f102-cc5c-4f8d-8289-6478104a8e79" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="objectstoreFlow3" doc:id="2e905c3d-15fb-4e22-9e16-5b431310d4a8" >
		<http:listener doc:name="Listener" doc:id="d1961932-1594-42ea-a617-9152928a4f20" config-ref="HTTP_Listener_config" path="/allkeys"/>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="8e6ef8d9-e5c2-493a-b9d8-cc715a0b93d9" objectStore="pranav"/>
	</flow>
	<flow name="objectstoreFlow4" doc:id="7c493240-5c6b-4699-a119-6cb6416d16f4" >
		<http:listener doc:name="Listener" doc:id="1762d392-2865-4e55-824a-f2b650645948" config-ref="HTTP_Listener_config" path="/rkeys"/>
		<os:retrieve-all-keys doc:name="Retrieve all keys" doc:id="def80d71-d4fe-4f58-8742-af74b7113554" objectStore="pranav"/>
		<foreach doc:name="For Each" doc:id="295ec908-bc97-43ba-8422-009d2bdda436" >
			<os:retrieve doc:name="Retrieve" doc:id="b2739162-503b-4655-90f1-f1a043ecdf10" key="#[payload]" objectStore="pranav">
				<os:default-value ><![CDATA[no value found]]></os:default-value>
			</os:retrieve>
			<set-variable value="#[(vars.a default []) + payload]" doc:name="Set Variable" doc:id="1e5484dc-1da8-4392-98ec-d9820342fd05" variableName="a"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="5214b950-651a-4a94-8a64-ddbe074dd274" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.a]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="objectstoreFlow5" doc:id="524c34c9-4362-43c8-9bf4-51a3113c2a62" >
		<http:listener doc:name="Listener" doc:id="47ab16f8-7618-4d13-8108-ebb260c28c27" config-ref="HTTP_Listener_config" path="/remove"/>
		<os:remove doc:name="Remove" doc:id="49dd68cf-310b-4f1b-91a7-6af34be10d57" key="#[attributes.queryParams.id]" objectStore="pranav"/>
	</flow>
</mule>
